{% extends 'flatpages/default.html' %}


{% load custom_filters %}
{% load custom_tags %}

{% block title %}

News
{% endblock title %}
{% block content %}
 <h1>Все новости</h1>

  <h3>{% current_time '%b %d %Y'%}</h3>
   <hr>
   {% if news %}
       <table bgcolor="#a3ffe5" align="center" width="100%"   >
           <tr >
               <td > <strong>Заголовок</strong></td>
               <td><strong>Дата публикации</strong></td>
               <td><strong>Текст</strong></td>
           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
           <!--p> --!|sort_by:"-date"</p-->
           {% for new in news %}
           <tr>
               <td><a > {{ new.header }}</a></td>
               <td>{{ new.date|date:'d M Y' }}</td>
               <td>{{ new.text|truncatechars:20 }}</td>
                <td>{{ my_category}}</td>
           </tr>
           {% endfor %}

       </table>
         <hr>
        <form action="" method="get">
     {{ filterset.form.as_p }}

    <input type="submit" value="Найти">
    </form>
          <hr>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{{ page_obj.next_page_number }}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}